/*******GENERALES******/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    padding: 0;
}

li { 
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*******PAGINA HOME******/


header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);   
}

.logo{
    width: 200px;
    height: 80px;  
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.menu, .user {
    display: flex;
    align-items: center;
    
}

.navigation li {
    margin: 0 10px;
    
}
.navigation li a{
    color: black;
}

.mobile-menu {
    display: none;
    width: 20px;
    margin-left: 20px;
    padding: 19px 0;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search{
    width: 600px;
    height: 30px;
    border: solid 1px #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);     
}

.search-button{
    width: 100px;
    height: 30px;
    border: solid 1px #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);     
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}


.container-products {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.product-card {
    background-color: white;
    width: 200px;
    border: 1px solid black;
}
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details p {
    margin-top: 10px;
}

.receta-name {
    font-weight: bold;
    font-size: 16px;
}

.product-details img{
    max-width: 100%;
    
}

.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-actions a {
    border-radius: 4px; 
    gap: 10px;
    color: black;
    text-decoration: underline;
}

.add-more {
    margin: 20px auto;
    width: 100px;
    height: 30px;
    border: solid 1px black;
    color: black;
    display: flex;  
    justify-content: center;
    align-items: center;
}










/*Log in*/
.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.login-box {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
    margin-right: 20px; 
}

.titulo-login {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #626161;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    font-size: 16px;
}

.login-button {
    background-color: #2575fc;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.login-button:hover {
    background-color: #1a5bb8;
    transition: 0.3s ease;
}

.links-login {
    margin-top: 15px;
    font-size: 14px;
}

.links-login a {
    color: #2575fc;
    text-decoration: none;
}

.links-login a:hover {
    text-decoration: underline;
}









/*Registro*/

header {
    position: relative;
    align-items: center;
    padding-bottom: 1px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.checkbox-group {
    display: flex;
    align-items: center;
}


.boton-registro button {
    background-color: #223A5E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    display: block;
    margin: 0 auto; 
}

.boton-registro button:hover {
    background-color: #1a2f4e;
}

.boton-registro {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .register-form {
        width: 90%;
        padding: 10px;
    }
    
    .Navegacion {
        display: none; 
    }
    
    .Navegacion.mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: #dce7fc;
        padding: 10px;
    }
}

@media screen and (max-width: 420px) {
    .register-form {
        margin: 20px auto;
    }
}


